footer{
    @media (max-width: 767.98px) { 
        .nav-block{
            text-align: center;
            margin-bottom: 30px;
            &:first-child{
                .logo,.social-icon{
                    justify-content: center;
                }
            }
            &:last-child{
                .nav{
                    display: block;
                }
            }
        }
     }

    .section-title{
        font-weight: 600;
        margin-bottom: 25px;
        font-size: 18px;
        
    }
    .section-item{

    }
    .nav{
        .nav-link{
            display: inline-block;
        }
    }
    .contact-info{
        color: #465b52;
        
    }
    .social-icon{
        display: flex;
        .fa-brands{
            font-size: 20px;
            color: #465b52;
            margin-right: 12px;
        }
    }
    .cara-app{
        border: 1px solid #088178;
        border-radius: 6px;
    }
}