.featured,
.arrivals {
  padding: 100px 0px 100px 0px;
  text-align: center;
  .section-title {
    font-size: 55px;
    font-weight: bold;
  }
  .section-description {
    font-size: 18px;
    font-weight: 600;
    color: rgb(0 0 0 / 33%);
  }
}
.product {
  border: 1px solid #cce7de;
  padding: 10px;
  text-align: left;
  box-shadow: 20px 20px 30px rgb(0 0 0 / 0.02);
  border-radius: 26px;
  transition: 0.2s ease;
  margin-bottom: 15px;
  cursor: pointer;
  &:hover {
    box-shadow: 20px 20px 30px rgb(0 0 0 / 0.06);
    .name {
      color: #088178;
    }
  }
  .image {
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;
  }
  .brand {
    font-weight: 500;
    color: rgb(221 219 219);
    margin-bottom: 5px;
  }
  .name {
    text-decoration: none;
    color: #000;
    font-weight: 800;
  }
  .buy-product {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    .price {
      color: #088178;
      text-decoration: none;
      font-weight: 800;
    }
    .cart-icon {
      width: 40px;
      height: 40px;
      background-color: #00837a33;
      border-radius: 50%;
      text-align: center;
      padding: 8px;
      border: 1px solid #c4e8df;
      font-size: 20px;
      color: #088178;
      &:hover {
        box-shadow: 0px 0px 20px rgb(0 0 0 / 9%);
      }
    }
  }

  ::ng-deep .star {
    font-size: 1.5rem;
    color: #b7b29a47;
    font-size: 22px;
  }
  .filled {
    color: #ffd700;
    font-size: 22px;
  }
}
